/*==================== RESET STYLES ====================*/
@import 'import/reset.scss';
/*==================== RESET STYLES ====================*/

/*==================== FONTS ====================*/
@import 'fonts.scss';
/*==================== FONTS ====================*/

/*==================== VARIABLES ====================*/
$maxWidthLayout: 1440;
$maxWidthContainer: 1290;
$lumbFont: 'lumberjack', serif;
$roboFont: 'RobotoCondensed', sans-serif;
$whiteColor: #fff;
$pinkColor: #d6258f;
$blackBg: #000;
$blueBg: #020f1c;
/*==================== VARIABLES ====================*/

/*==================== MIXINS ====================*/
// responsive value
@mixin respValue($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
  }
}
// snippet (rv)
// responsive value
/*==================== MIXINS ====================*/

/*==================== BASIC PARAMETERS ====================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $lumbFont;
  font-weight: 400;
  line-height: 1.2;
  background: $blackBg;
  color: $whiteColor;

  @media (max-width: 768.98px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;

  &__events {
    &:not(:last-child) {
      @include respValue('margin-bottom', 60, 40, 1);
    }
  }

  &__novelties {
    &:not(:last-child) {
      @include respValue('margin-bottom', 80, 0, 1);
    }
  }

  &:not(:last-child) {
    @include respValue('margin-bottom', 60, 40, 1);
  }
}
/*==================== BASIC PARAMETERS ====================*/

/*==================== REPEAT BLOCK ====================*/
//! Container
[class*='__container'] {
  width: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}

//! Responsive Image
.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//! Title
.title-h1,
.title-h2 {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: $pinkColor;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;

  @media (min-width: 768.98px) {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px $pinkColor, 0 0 20px $pinkColor, 0 0 30px $pinkColor,
      0 0 55px $pinkColor, 0 0 80px $pinkColor;
    // animation: flicker 1.5s infinite alternate;
  }

  @media (max-width: 767.98px) {
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
  }
}

@keyframes flicker {
  100% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 15px $pinkColor, 0 0 30px $pinkColor, 0 0 40px $pinkColor,
      0 0 70px $pinkColor, 0 0 100px $pinkColor;
  }
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px $pinkColor, 0 0 20px $pinkColor, 0 0 30px $pinkColor,
      0 0 55px $pinkColor, 0 0 80px $pinkColor;
  }
}
/*==================== REPEAT BLOCK ====================*/
//todo: HEADER
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 5px 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $blackBg;
    z-index: 2;
  }

  &__body {
    display: grid;
    grid-template-rows: minmax(90px, auto);
    grid-auto-flow: column;
    align-items: center;

    @media (max-width: 768.98px) {
      grid-template-rows: minmax(60px, auto);
      justify-content: space-between;
    }
  }

  &__logo {
    display: none;

    @media (max-width: 768.98px) {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;

      position: relative;
      z-index: 3;

      img {
        max-width: 100%;
      }
    }
  }
}

.menu {
  @media (max-width: 768.98px) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: $blueBg;
    padding: 160px 0 0 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.2s linear;

    &.active {
      top: 0;
      visibility: visible;
    }
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (max-width: 768.98px) {
      grid-auto-flow: row;
      justify-items: center;
      gap: 50px;

      margin: 0 0 60px 0;
    }
  }

  &__item {
    &_logo {
      padding: 0 45px;

      @media (max-width: 768.98px) {
        display: none;
      }
    }
  }

  &__link {
    font-size: 24px;

    &_logo {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }

    @media (min-width: 768.98px) {
      font-size: 20px;
      letter-spacing: 1px;
      transition: all 0.1s linear;

      position: relative;
      z-index: 3;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.6px;
        bottom: -6px;
        left: 0;
        background: $pinkColor;
        transform: scale(0);
        transform-origin: center;
        transition: all 0.1s linear;
      }

      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }
  }
}

.burger {
  position: relative;
  z-index: 3;

  justify-self: end;
  display: block;
  width: 30px;
  height: 20px;
  background: transparent;

  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.6px;
    left: 0;
    background: #fff;
    transition: all 0.2s linear;
  }

  span {
    top: 50%;
    transform: translate(0, -50%) scale(1);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active {
    span {
      transform: translate(0, -50%) scale(0);
    }

    &::before {
      top: 9px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: 768.98px) {
    display: none;
  }
}

//todo: INTRO
.intro {
  position: relative;
  min-height: 100vh;

  &__container {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr / 40%;
    align-items: center;

    @media (max-width: 668.98px) {
      grid-template: 1fr / 1fr;
      place-items: center;
    }
  }

  &__body {
    > *:not(:last-child) {
      margin: 0 0 40px 0;
    }
  }

  &__title {
    @include respValue('font-size', 96, 36, 1);
    text-align: left;
  }

  &__text {
    @include respValue('font-size', 48, 24, 1);

    span {
      color: $pinkColor;
    }
  }

  &__title,
  &__text {
    @media (max-width: 668.98px) {
      text-align: center;
    }
  }

  &__blur {
    @media (min-width: 668.98px) {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      backdrop-filter: blur(12px);
    }
  }

  &__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

//todo: EVENTS
@import '../../node_modules/swiper/swiper';
@import '../../node_modules/swiper/swiper-bundle';

.events {
  position: relative;
  @include respValue('padding-top', 100, 40, 1);
  @include respValue('padding-bottom', 100, 40, 1);

  &__container {
    display: grid;

    &:not(:last-child) {
      @include respValue('margin-bottom', 60, 30, 1);
    }
  }

  &__title {
    justify-self: center;

    @media (min-width: 1024.98px) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 100px;
        top: 50%;
        left: -120px;
        transform: translate(0, -30%);
        background: url('../img/events/arrow.png') 50% 50% / cover no-repeat;
      }
    }
  }
}

.slider {
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    justify-content: center;
    gap: 30px;

    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__item {
    display: grid;
    grid-template: auto auto 1fr / 1fr;

    background: $blueBg;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image {
    padding: 0 0 99% 0;
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  &__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $pinkColor;

    &:not(:last-child) {
      margin: 0 0 40px 0;
    }
  }

  &__text {
    font-family: $roboFont;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    padding: 0 15px 15px 15px;
  }
}

.swiper-pagination-bullet {
  background: $whiteColor;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: 768.98px) {
    width: 15px;
    height: 15px;
  }
}

//todo: NOVELTIES
.novelties {
  &__title {
    &:not(:last-child) {
      @include respValue('margin-bottom', 130, 40, 1);
    }
  }

  &__body {
    display: grid;
    gap: 30px;

    @media (min-width: 768.98px) {
      grid-template: 1fr / auto minmax(auto, 520px);
    }
  }

  &__image {
    position: relative;
    padding: 0 0 82% 0;

    @media (max-width: 768.98px) {
      order: 1;
      justify-self: center;
      width: 100%;
      max-width: 520px;
      padding: 0 0 58% 0;
    }

    img {
      border: 1px solid #ffffff;
      box-shadow: 0px 0px 48px -1px $pinkColor;
      border-radius: 20px;
      overflow: hidden;
    }

    &::before {
      content: '';
      position: absolute;
      width: 230px;
      height: 230px;
      top: -160px;
      right: 0;
      background: url('../img/novelties/star.png') 50% 50% / cover no-repeat;

      @media (max-width: 962.98px) {
        width: 150px;
        height: 150px;
        top: -100px;
        right: 0;
      }

      @media (max-width: 768.98px) {
        display: none;
      }
    }
  }

  &__buttons {
  }

  &__btn {
  }

  &__link {
  }
}

.list {
  display: grid;
  gap: 30px;

  @media (max-width: 768.98px) {
    order: 2;
  }

  &__item {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
  }

  &__price-name {
    display: grid;
    grid-template: 1fr / minmax(auto, 150px) 1fr auto;
    justify-content: space-between;
    align-items: end;
    gap: 10px;

    @media (max-width: 768.98px) {
      grid-template: 1fr / minmax(auto, 150px) auto;
    }
  }

  &__name {
    @include respValue('font-size', 24, 20, 1);
    color: $pinkColor;
  }

  &__decor {
    height: 2px;
    background: $whiteColor;

    @media (max-width: 768.98px) {
      display: none;
    }
  }

  &__price {
    @include respValue('font-size', 24, 20, 1);
    color: $pinkColor;
  }

  &__description {
    width: 300px;
    align-self: end;
    font-size: 18px;
  }
}
